[*.cs]

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none
